@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap");
@import "./common/reset.scss";
@import "./variables/colors";
@import "./components/header.scss";
@import "./components/list.scss";

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--ec-color-primary-dark);
  overflow: hidden;
}

main {
  height: calc(100vh - 86px - 80px);
}

.title {
  color: var(--ec-color-neutral-100);
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1.25px;

  padding: 0px 50px;
  padding-top: 80px;

  @media (max-width: 1280px) {
    padding: 0px 24px;
    padding-top: 40px;
  }
}
